.main{
    display:flex;
    /* position: relative; */
    padding: 20px;
    justify-content: space-between;
    
}

.first{
    height: 400px;
    width: 200px;
}
.second{
    height: 400px;
    width: 200px;
}
.third{
    height: 400px;
    width: 200px;
}